flask==3.0.2
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0
flask-login==0.6.3
flask-bcrypt==1.0.1
flask-wtf==1.2.1
flask-socketio==5.6.1
flask-mail==0.10.0
python-socketio==5.16.1
python-engineio==4.13.1
python-dotenv
sqlalchemy==2.0.27
wtforms==3.2.1
email-validator==2.3.0
alembic==1.18.4
bcrypt==5.0.0
eventlet==0.40.4
pillow
gunicorn
psycopg2-binary
